#root {
  max-width: 1280px;
  margin: auto;
  margin-top: 0;
  padding: 2rem;
}
ul{
  list-style: none;
  margin:0;
}
li:nth-child(even){
  border: 2px solid black;
  background-color: #F16821;
  padding: 1rem 1rem;
}
li:nth-child(odd){
  border: 2px solid black;
  background-color: #FAB95B;
  padding: 1rem 1rem;
}